/* About Section */

#about {
  padding: 120px 0;
  h3 {
    font-size: 20px;
  }
  .about-text {
    margin-left: 10px;
  }
  .about-img {
    display: inline-block;
    position: relative;
    &:before {
      @include position($about-position-content,$about-position-display,$about-position-position,$about-position-top,$about-position-right,$about-position-bottom,$about-position-left,$about-position-border);
    }
  }
  p {
    line-height: 24px;
    margin: 15px 0 30px;
  }
}