/* Header Section */

.intro {
  @include background-padding($header-intro-padding,$header-intro-background);
  display: table;
  width: 100%;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .overlay {
    background: rgba(0, 0, 0, 0.4);
  }
  h1 {
    @include font-style($header-h1-font-style-weight,$header-h1-font-style-size,$header-h1-font-style-color);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
    margin-bottom: 10px;
  }
  span {
    color: #a7c44c;
    font-weight: 600;
  }
  p {
    @include font-style($header-p-font-style-weight,$header-p-font-style-size,$header-p-font-style-color);
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

header .intro-text {
  padding-top: 250px;
  padding-bottom: 200px;
  text-align: center;
}