@mixin font-style($weight, $size, $color) {
	font-weight: $weight;
  	font-size: $size;
  	color: $color;
}

@mixin img-format($posicion, $repetido, $estado){
	background-color: #444;
	background-position: $posicion;
	background-attachment: $estado;
	background-repeat: $repetido;
}