@mixin font-style($weight, $size, $color) {
  	color: $color;
  	font-weight: $weight;
    @if ((unit($size) == "px") or (unit($size) == "em")) {
        font-size: $size;
    }
    @else{
        @warn "El formato del tamaño de la fuente debe de ser px o em";
    }
}

@mixin img-format($posicion, $repetido, $estado){
	background-color: #444;
	background-position: $posicion;
	background-attachment: $estado;
	background-repeat: $repetido;
}

@mixin margin-default($margin, $border) {
	margin: $margin;
	border: $border;
}

@mixin position($content,$display,$position,$top,$right,$bottom,$left,$border) {
    content: $content;
    display: $display;
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	border: $border;
}

@mixin background-padding($padding, $background) {
    background: $background;
    padding: $padding;
}

@mixin letter-padding($padding, $letter-spacing) {
	padding: $padding;
	letter-spacing: $letter-spacing;
}


