@mixin font-style($weight, $size, $color) {
	font-weight: $weight;
  	font-size: $size;
  	color: $color;
}

@mixin margin-default($margin, $border) {
	margin: $margin;
	border: $border;
}

@mixin position($content,$display,$position,$top,$right,$bottom,$left,$border) {
    content: $content;
    display: $display;
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	border: $border;
}