/* Navigation */

#menu {
  padding: 20px;
  transition: all 0.8s;
  &.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
  }
  a.navbar-brand {
    @include font-style($navigation-navbar-brand-font-style-weight,$navigation-navbar-brand-font-style-size,$navigation-navbar-brand-font-style-color);
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
  }
  &.navbar-default .navbar-nav > li > a {
    @include font-style($navigation-navbar-default-font-style-weight,$navigation-navbar-default-font-style-size,$navigation-navbar-default-font-style-color);
    @include margin-default($navigation-navbar-default-margin-default-margin,$navigation-navbar-default-margin-default-border);
    @include letter-padding($navigation-navbar-default-letter-padding,$navigation-navbar-default-letter-spacing);
    text-transform: uppercase;
    &:hover {
      color: #8eb640;
    }
  }
}

.on {
  background-color: #262626 !important;
  padding: 0 !important;
  padding: 10px 0 !important;
}

.navbar-default .navbar-nav > .active > a {
  color: #8eb640 !important;
  background-color: transparent;
  &:hover, &:focus {
    color: #8eb640 !important;
    background-color: transparent;
  }
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  &:hover, &:focus {
    background-color: #8eb640;
    border-color: #8eb640;
  }
  &:hover > .icon-bar {
    background-color: #FFF;
  }
}

.section-title {
  margin-bottom: 70px;
  .overlay {
    @include background-padding($navigation-overlay-padding,$navigation-overlay-background);
  }
  p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
  }
  hr {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.btn-custom {
  @include font-style($navigation-btn-custom-font-style-weight,$navigation-btn-custom-font-style-size,$navigation-btn-custom-font-style-color);
  @include margin-default($navigation-btn-custom-margin-default-margin,$navigation-btn-custom-margin-default-border);
  @include letter-padding($navigation-btn-custom-letter-padding,$navigation-btn-custom-letter-spacing);
  text-transform: uppercase;
  background-color: #72a411;
  border-radius: 0;
  margin-top: 20px;
  transition: all 0.5s;
  &:hover, &:focus, &.focus, &:active, &.active {
    color: #fff;
    background-color: #628d0f;
  }
}