/* Team Section */

#team {
  color: #fff;
  background: #444 url(../img/team-bg.jpg) center top no-repeat fixed;
  background-size: cover;
  .overlay {
    @include background-padding($team-overlay-padding,$team-overlay-background);
  }
  h2, p {
    color: #fff;
  }
  hr {
    background: #fff;
  }
  h3 {
    @include font-style($team-h3-font-style-weight,$team-h3-font-style-size,$team-h3-font-style-color);
    margin: 5px 0;
  }
  img {
    width: 1000px;
  }
  .thumbnail {
    background: transparent;
    border: 0;
    .team-img {
      display: inline-block;
      position: relative;
      &:before {
        @include position($team-img-position-content,$team-img-position-display,$team-img-position-position,$team-img-position-top,$team-img-position-right,$team-img-position-bottom,$team-img-position-left,$team-img-position-border);
      }
    }
    .caption {
      padding-top: 10px;
      p {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 10px;
        font-size: 15px;
      }
    }
  }
}